/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}







@font-face {
    font-family: 'Binggrae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'SLEIGothicTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SLEIGothicTTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



html, body {
    margin : 0;
    font-size: 16px;
}
nav {
    z-index: 2;
    position: absolute;
    width : 65vw;
    height : 50px;
    left : 20px;
    margin-top: 12px;
    background-color: white;
    border-radius: 4px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
nav #Title {
    font-family: 'Binggrae';
    text-decoration: none;
    font-size: 1.05em;
    color: black;
    position: absolute;
    top : 50%;
    font-weight: bolder;
    left : 114px;
    transform: translate(0, -50%);
}

nav img {
    position: absolute;
    top : 50%;
    left : 15px;
    transform: translate(0, -50%);
    height : 95%;
    border-radius: 4px;
}
#en {
    margin-left: 0.1rem;
    font-family: 'SLEIGothicTTF';
}
nav .nav-content {
    font-family: 'Cafe24SsurroundAir';
    font-weight: 600;
    position: absolute;
    right : 14px;
    top : 50%;
    transform: translate(0, -50%);
}
nav .nav-content a {
    text-decoration: none;
    color : black;
}
nav .nav-content .c1, nav .nav-content .c2, nav .nav-content .c3, nav .nav-content .c4 {
    margin-right: 10px;
    padding-right : 10px;
    border-right : 1px solid rgb(141, 141, 141);
    color: #920700;
}
nav .nav-content .c1 {
    color : #F49902;
}
nav .nav-content .c2 {
    color : green;
}
nav .nav-content .c3 {
    color : rgb(4, 4, 161);
}
nav .nav-content a:last-child {
    color : #e9dd02;
}
nav #Menu-Bar {
    display: none;
    position: absolute;
    right : 15px;
    top : 50%;
    transform: translate(0, -50%);
}

#map {
    z-index: 1;
    width : 100vw;
    height : 100vh;
}

#Menu {
    z-index: 2;
    width : 50vw;
    height : 50vh;
    position: absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%);
    background-color: bisque;
}
.top-right {
    z-index: 2;
    font-size: 0.7rem;
    position: absolute;
    width : 122px;
    height : 45px;
    right : 28px;
    margin-top : 15px;
    border-radius: 4px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
}

#btnRoadmap {
    color: white;
    line-height: 36px;
    font-size: 0.7rem;
    text-align: center;
    width : 45%;
    height : 80%;
    background-color: rgb(37, 143, 255);
    border-radius: 4px;
    position: relative;
    top : 50%;
    left : 3%;
    transform: translate(0, -50%);
}
#btnSkyview {
    color: black;
    line-height: 36px;
    text-align: center;
    font-size: 0.7rem;
    width : 45%;
    height : 80%;
    border-radius: 4px;
    position: absolute;
    top : 50%;
    right : 3%;
    transform: translate(0, -50%);
}
.middle-right .plus, .minus {
    color :#920700;
    margin : 10px;
    width : 45px;
    height : 45px;
    border-radius: 4px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;    
}
.middle-right .minus {
    z-index: 2;
    position: absolute;
    top : 0;
    margin-top: 15px;
    right : 147px;
}
.middle-right .plus {
    z-index: 2;
    position: absolute;
    margin-top: 15px;
    right : 200px;
}
.middle-right .plus i {
    position : relative;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%);
}

.middle-right .minus i {
    position : relative;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%);
}

.bottom-right {
    z-index: 2;
    position: absolute;
    bottom : 20px;
    right : 20px;
}

.bottom-right .price, .length, .taste {
    margin : 10px;
    width : 45px;
    height : 45px;
    border-radius: 4px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.bottom-right .price i {
    color: #e63636;
    position : relative;
    top : 32%;
    left : 50%;
    transform: translate(-50%, -35%);
}
.bottom-right .price div {
    color: #e63636;
    text-align: center;
    font-size: 0.7rem;
    position : relative;
    top : 42%;
    left : 50%;
    transform: translate(-50%, -50%);
}

.bottom-right .length i {
    color: #258FFF;
    position : relative;
    top : 32%;
    left : 50%;
    transform: translate(-50%, -35%);
}

.bottom-right .length div {
    color: #258FFF;
    text-align: center;
    font-size: 0.7rem;
    position : relative;
    top : 42%;
    left : 50%;
    transform: translate(-50%, -50%);
}

.bottom-right .taste i {
    color: #31db4d;
    position : relative;
    top : 32%;
    left : 50%;
    transform: translate(-50%, -35%);
}

.bottom-right .taste div {
    color: #31db4d;
    text-align: center;
    font-size: 0.7rem;
    position : relative;
    top : 42%;
    left : 50%;
    transform: translate(-50%, -50%);
}


.middle-center {
    margin-top: 6px;
    z-index: 2;
    position: absolute;
    top : 60px;
    right : 26px;
}

.middle-center .Sushi, .Meat, .Noodle, .Rice, .Bunsik, .Fastfood, .Caffee, .Beer {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 8px;
    margin : 8px;
    margin-right: 4px;
    width : 42px;
    height : 44px;
    border-radius: 8px;
    background-color: white;
}
.middle-center .Sushi {
    height : 46px;
}
.middle-center .Sushi img {
    height : 19px;
    position : relative;
    top : 24%;
    left : 50%;
    transform: translate(-50%, -24%);
}
.middle-center .Sushi div {
    color: black;
    text-align: center;
    font-size: 0.7rem;
    position : relative;
    top : 25%;
    left : 50%;
    transform: translate(-50%, -25%);
}

.middle-center .Meat img {
    height : 24px;
    position : relative;
    top : 24%;
    left : 50%;
    transform: translate(-50%, -24%);
}
.middle-center .Meat div {
    color: black;
    text-align: center;
    font-size: 0.7rem;
    position : relative;
    top : 5%;
    left : 50%;
    transform: translate(-50%, -5%);
}

.middle-center .Noodle img {
    height : 29px;
    position : relative;
    top : 17%;
    left : 51%;
    transform: translate(-50%, -24%);
}
.middle-center .Noodle div {
    color: black;
    text-align: center;
    font-size: 0.7rem;
    position : relative;
    top : -1%;
    left : 50%;
    transform: translate(-50%, -10%);
}
.middle-center .Rice {
    height: 46px;
}
.middle-center .Rice img {
    height : 29px;
    position : relative;
    top : 21%;
    left : 50%;
    transform: translate(-50%, -24%);
}
.middle-center .Rice div {
    color: black;
    text-align: center;
    font-size: 0.7rem;
    position : relative;
    top : 4%;
    left : 50%;
    transform: translate(-50%, -18%);
}
.middle-center .Bunsik {
    margin-top: 19px;
}
.middle-center .Bunsik img {
    height : 21px;
    position : relative;
    top : 24%;
    left : 50%;
    transform: translate(-50%, -24%);
}
.middle-center .Bunsik div {
    color: black;
    text-align: center;
    font-size: 0.7rem;
    position : relative;
    top : 14%;
    left : 50%;
    transform: translate(-50%, -14%);
}
.middle-center .Fastfood {
    height : 60px;
}
.middle-center .Fastfood img {
    height : 30px;
    position : relative;
    top : 14%;
    left : 50%;
    transform: translate(-50%, -14%);
}
.middle-center .Fastfood div {
    color: black;
    text-align: center;
    font-size: 0.7rem;
    position : relative;
    top : 6%;
    left : 50%;
    transform: translate(-50%, -6%);
}
.middle-center .Caffee {
    margin-top: 19px;
}
.middle-center .Caffee img {
    height : 33px;
    position : relative;
    top : -2%;
    left : 53%;
    transform: translate(-52%, 0%);
}
.middle-center .Caffee div {
    color: black;
    text-align: center;
    font-size: 0.7rem;
    position : relative;
    top : -2%;
    left : 50%;
    transform: translate(-50%, -35%);
}

.middle-center .Beer img {
    height : 21px;
    position : relative;
    top : 24%;
    left : 50%;
    transform: translate(-50%, -24%);
}
.middle-center .Beer div {
    color: black;
    text-align: center;
    font-size: 0.7rem;
    position : relative;
    top : 21%;
    left : 50%;
    transform: translate(-50%, -21%);
}

.carousel {
    z-index: 2;
    height: 596px;
    padding:20px;
    width: 450px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    border-radius: 4px;
    position : absolute;
    background-color: #F9F6F3;
    top : 80px;
    left : 20px;
}

#carouselExampleControls .btn-close {
    position : absolute;
    bottom : 8px;
    right : 50%;
}

#showBtn {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    position: absolute;
    z-index: 2;
    width: 20px;
    height: 90px;
    top : 50%;
    transform: translate(0%, -50%);
    left : 0px;
    line-height: 90px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

#showBtn i {
    position: relative;
    left : 50%;
    transform: translate(-50%, 0%);
}

@media screen and (max-width : 1200px) {
    nav {
        width : 95vw;
    }

    .top-right {
        display: none;
    }
    .middle-right {
        display: none;
    }
}

@media screen and (max-width : 900px) {
    .nav-content {
        display: none;
    }
    nav #Menu-Bar {
        display: block;
    }
    nav {
        width : 90vw;
    }
    .middle-center {
        right : 3vw;
    }
}